version: 2
updates:
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: github-actions
    directory: "/.github/workflows"
    schedule:
      interval: "daily"

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      openapi-ts:
        applies-to: version-updates
        patterns:
          - "@hey-api/openapi-ts*"
        update-types:
          - "minor"
          - "patch"

      dev-dependencies:
        applies-to: version-updates
        patterns:
          - "*"
        exclude-patterns:
          - "@hey-api/openapi-ts*"
        update-types:
          - "minor"
          - "patch"
